@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

:root {
  --clr-main-font: #3f4d5a;
  --clr-highlight: #f1f1f1;
  --clr-highlight-dark: #c0c0c0;
  --clr-button: #fc4c50;

  --clr-white: white;
  --clr-gray: #f8f8f8;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 1rem 8rem;
}

.container-big-padding {
  padding: 2.5rem 8rem;
}

.container-bigger-padding {
  padding: 4rem 12rem;
}

.title {
  font-size: 1.5rem;
  color: var(--clr-main-font);
  margin-bottom: 2rem;
}

.title-light {
  color: var(--clr-white);
  font-size: 3rem;
  font-weight: 500;
}

.text-bold {
  font-weight: 900;
}

.btn {
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 0.85rem;
  border: none;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 0.75rem;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.05);
}

.btn-filled {
  color: var(--clr-white);
  background-color: var(--clr-button);
  transition: 0.2s ease-in-out;
}

.btn-filled:hover {
  color: var(--clr-button);
  border: 2px solid var(--clr-button);

  background-color: var(--clr-white);
}

.btn-outline {
  border: 2px solid var(--clr-button);
  color: var(--clr-button);
  background-color: var(--clr-white);
  transition: 0.2s ease-in-out;
}

.btn-outline:hover {
  color: var(--clr-white);
  background-color: var(--clr-button);
}

.fa-magnifying-glass {
  font-size: 1.25rem;
}

.fa-check {
  color: var(--clr-button);
  font-size: 1.1rem;
  padding-right: 0.5rem;
}

.control {
  color: var(--clr-highlight-dark);
  font-size: 3rem;
  transition: 0.2s ease-in-out;
}

.control:hover {
  color: var(--clr-main-font);
  font-size: 3rem;
  cursor: pointer;
}

.card-title {
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  color: var(--clr-white);
}

.fa-circle {
  color: var(--clr-white);
  cursor: pointer;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav-logo {
  width: 125px;
}

.header .main-nav .nav-list {
  display: flex;
  gap: 1rem;
  padding-left: 0;
}

.header .main-nav .nav-list .nav-item a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--clr-main-font);
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.header .main-nav .nav-list .nav-item a:hover {
  color: var(--clr-main-font);
  background-color: var(--clr-highlight);
  border-radius: 0.5rem;
}

.header .nav-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* HERO */
.main .hero {
  height: 75vh;

  background: linear-gradient(
    90deg,
    rgba(63, 77, 90, 1) 0%,
    rgba(252, 76, 80, 0.9) 100%
  );

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--clr-white);
}

.main .hero .hero-title {
  margin-bottom: 2rem;
}

.main .hero .hero-list {
  margin-bottom: 4rem;
  padding-left: 0;
}

.main .hero .hero-list .hero-item {
  font-size: 0.95rem;
}

.main .hero .hero-list .hero-item:not(:last-child) {
  margin-bottom: 1rem;
}

.main .hero .hero-img {
  height: 100%;
}

/* SUBHERO */
.main .subhero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: calc(100vh - 75vh - 88px);
}

.main .subhero-left {
  background-color: var(--clr-button);
  height: 100%;
  padding-left: 8rem;

  display: flex;
  align-items: center;

  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}

.main .subhero-left h3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--clr-white);
  margin-right: 10rem;
}

.main .subhero-left img {
  width: 275px;
}

.main .subhero-right p {
  padding-right: 8rem;
  padding-left: 1rem;
  line-height: 1.75rem;

  font-size: 0.9rem;
}

/* ADVANTAGES */
.main .advantages {
  background-color: var(--clr-main-font);
  color: var(--clr-white);

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.main .advantages .advantage {
  display: flex;
  align-items: center;
  gap: 2rem;

  width: 30%;
}

.main .advantages .advantage .advantage-icon i {
  font-size: 1.75rem;
}

.main .advantages .advantage .advantage-text {
  font-size: 0.85rem;
  line-height: 1rem;
}

/* COURSES */
.main .courses .courses-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .courses .course-item {
  width: 20%;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 15px -2px #000000;
  margin-bottom: 2rem;
  transition: 0.2s ease-in-out;
}

.main .courses .course-item:hover {
  background-color: var(--clr-highlight);
  cursor: pointer;
}

.main .courses .course-item .course-img img {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.main .courses .course-item .course-text {
  padding: 1rem;
}

.main .courses .course-item .course-text > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--clr-main-font);
  margin-top: 1rem;
}

/* HIGHLIGHTS */
.main .highlights {
  background: var(--clr-main-font);
  color: var(--clr-white);
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.main .highlishts-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 150px;
}

.main .highlights .highlights-imgs {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main .highlights .highlights-imgs img {
  width: 200px;
}

.main .highlights .highlights-imgs #student-img1 {
  position: absolute;
  top: -35px;
  right: 700px;
}

.main .highlights .highlights-imgs #student-img2 {
  position: absolute;
  top: -35px;
  right: 400px;
}

.main .highlights .highlights-imgs #student-img3 {
  position: absolute;
  top: -35px;
  right: 100px;
}

.main .highlights .highlights-text {
  width: 350px;
}

.main .highlights .highlights-text p {
  font-size: 0.9rem;
}

/* CALENDAR */
.main .calendar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.main .calendar > div {
  width: 30%;
  margin-bottom: 2rem;
}

.main .calendar .wrapper {
  margin-bottom: 2rem;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
}

.main .calendar .seminars .seminar-card {
  background-color: var(--clr-main-font);
  border-radius: 0.75rem;
  padding: 1rem;
  text-align: center;
  color: var(--clr-white);
  height: 100%;
  cursor: pointer;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 14%), 0 3px 3px -2px rgb(0 0 0 / 12%),
    0 1px 8px 0 rgb(0 0 0 / 20%);
}

.main .calendar .seminars .seminar-card .card-text {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  font-size: 0.75rem;
}

.main .blog .blog-list {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.main .blog .blog-item {
  background-color: var(--clr-highlight-dark);
  border-radius: 0.75rem;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 14%), 0 3px 3px -2px rgb(0 0 0 / 12%),
    0 1px 8px 0 rgb(0 0 0 / 20%);
}

.main .blog .blog-item .card-img {
  height: 100px;
}

.main .blog .blog-item .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.main .blog .blog-item .card-title {
  padding: 1rem;
  margin: auto;
}

.main .initiatives .initiative-card {
  background-color: lightblue;
  height: 100%;
  border-radius: 0.75rem;
  padding: 2rem;
  color: var(--clr-white);

  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 14%), 0 3px 3px -2px rgb(0 0 0 / 12%),
    0 1px 8px 0 rgb(0 0 0 / 20%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: pointer;
}

.main .initiatives .initiative-card img {
  width: 70%;
  margin-bottom: 2rem;
}

.card1 {
  background: linear-gradient(to right, #ba8dda 0%, #9b5dc6 100%);
}

.card2 {
  background: linear-gradient(to right, #ee8351 0%, #f26624 100%);
}

.card3 {
  background: linear-gradient(to right, #6bd3c5 0%, #41bead 100%);
}

.slider {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* REVIEWS */
.main .reviews {
  background-color: var(--clr-main-font);
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main .reviews > i {
  font-size: 2rem;
  color: var(--clr-highlight);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.main .reviews > i:hover {
  color: var(--clr-white);
}

.main .reviews .review {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: var(--clr-white);
}

.main .reviews .review .review-text .review-position {
  color: var(--clr-highlight);
  font-size: 0.85rem;
}

.main .reviews .review .review-text .review-stars {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--clr-button);
}

.main .reviews .review .review-text .review-stars > i {
  padding-right: 0.35rem;
}

.main .reviews .review .review-img img {
  border-radius: 5rem;
}

/* SHOWS */
.main .shows {
  background-color: var(--clr-gray);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.main .shows > i {
  font-size: 2rem;
  color: var(--clr-main-font);

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.main .shows > i:hover {
  color: var(--clr-main-font);
  color: var(--clr-highlight-dark);
}

.main .shows .show-list {
  display: flex;
  justify-content: space-between;
}

.main .shows .show-list .show-card {
  width: 22%;
  text-align: center;
}

.main .shows .show-list .show-card img {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.main .shows .show-list .show-card .show-divider {
  height: 1px;
  width: 35%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  background-color: var(--clr-button);
}

.main .shows .show-list .show-card .show-title {
  color: var(--clr-button);
  font-weight: 700;
}

.main .shows .show-list .show-card .show-desc {
  font-size: 0.75rem;
}

/* FOOTER */
.footer {
  background-color: var(--clr-main-font);
  color: var(--clr-white);

  display: flex;
  justify-content: space-between;
}

.footer .links-title {
  font-weight: 900;
  margin-bottom: 0.75rem;
}

.footer .link {
  font-size: 0.85rem;
  margin-bottom: 0.35rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.footer .link:hover {
  color: var(--clr-button);
}

.footer .footer-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.footer .footer-icons i {
  font-size: 1.5rem;
}
